@model IEnumerable<FiapChallange.Lunai.Service.ViewModel.Hospital.HospitalViewModel>

@{
    ViewData["Title"] = "Hospitais";
}

<div class="header-large-title">
    <h1 class="title">@ViewData["Title"]</h1>
    <h4 class="subtitle">Hospitais mais próximos : </h4>
</div>



<div class="section mt-3">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3 p-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.NomeHospital</h5>
                        <p class="card-text">
                            <ion-icon name="business-outline"></ion-icon> @item.Endereco
                        </p>
                        @if (item.Aberto)
                        {
                            <p class="card-text text-success">
                                <ion-icon name="checkmark-circle-outline"></ion-icon>  Aberto agora!
                            </p>
                        }
                        else
                        {
                            <p class="card-text text-danger">
                                <ion-icon name="close-circle-outline"></ion-icon> Fechado!
                            </p>
                        }
                        <p class="card-text"><ion-icon name="call-outline"></ion-icon> Telefone: @item.TelefoneContato</p>
                        <p class="card-text"><ion-icon name="medkit-outline"></ion-icon> @item.TipoInstituicao</p>
                        <a href="@Url.Action("Index","MarcarConsulta",new {idHospital = item.IdHospital })" class="btn btn-primary">
                            <ion-icon name="search-outline"></ion-icon>
                            Marcar consulta!
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>